<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><strong>ジャンル検索</strong></h4>
    </div>

    <% genres.each do |genre|%>
      <ul class="genre-list">
        <li class="genre-list-item">
          <% if genre.is_active = true %>
            <%= link_to genre.name, users_products_search_path(genre) %>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>
</div>
