<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>ジャンル検索</h4>
    </div>
    
    <% genres.each do |genre|%>
      <ul class="list-group">
      <%= link_to  users_products_path do %>
        <li class="list-group-item"> <%=genre.name%></li>
      <% end %>
      </ul>
    <% end %>
  </div>
</div>