<div class="container">
  <div class="row">
    <div class="col-xs-3">
        <%# ジャンル検索部分テンプレ挿入 %>
        <h2>ジャンル検索</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-9">
        <div class="panel panel-default col-xs-6">
            <div class="panel-body">
                <p>
                ようこそ、NaganoCakeへ！<br>
                このサイトは、ケーキ販売のECサイトになります。<br>
                会員でない方も商品の閲覧はできますが、<br>
                購入には会員登録が必要になります。
                </p>
            </div>
        </div>
    </div>
  </div>
 
  <div class="row col-xs-12">
    <h2>オススメ商品</h2>

    <div id="recommend_items"><%= render 'recommend_item', products: @products %></div>
    <div class="more text-right"><%= link_to_next_page @products, 'もっと見る', remote: true, id: 'view_more' %></div>
  </div>
</div>







 