<div class="container">
 <!-- エラーメッセージ表示-->
	<% if @product.errors.any? %>
		<h3><%= @product.errors.count %>件のエラーがあります</h3>
		<ul>
			<% @product.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	<% end %>
	<!-- エラーメッセージ表示-->
  <h2 class="col-xs-offset-2" style="margin-bottom: 50px;">商品新規登録</h2>

  <%= render 'admins/products/form', product: @product %>

</div>
